@import "tailwindcss";

@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ancizar Sans";
  src: url("/fonts/AncizarSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-tomato-400: #fb7185;
  --color-tomato-600: #f43f5e;
  --color-tomato-800: #be123c;
  --color-tomato-900: #9f1239;
  --color-tomato-950: #500724;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Ancizar Sans", sans-serif;
  font-size: 16px;
}

.text-xs { font-size: 0.875rem !important; }
.text-sm { font-size: 1rem !important; }
